@{
    Layout = null;
}
@model RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zust.WebUI</title>
    @* <link rel="stylesheet" href="/assets/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="/assets/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/assets/css/animate.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/assets/css/remixicon.css" asp-append-version="true">
    <link rel="stylesheet" href="/assets/css/flaticon.css" asp-append-version="true">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" asp-append-version=false>
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css" asp-append-version=false>
    <link rel="stylesheet" href="/assets/css/simplebar.min.css" asp-append-version=false>
    <link rel="stylesheet" href="/assets/css/metismenu.min.css" asp-append-version=false>
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" asp-append-version=false>
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css" asp-append-version=false>
    <link rel="stylesheet" href="/assets/css/style.css" asp-append-version=false>
    <link rel="stylesheet" href="/assets/css/responsive.css" asp-append-version=false>
</head>
<body>
    <!-- Start Preloader Area -->
    <div class="preloader-area">
        <div class="spinner">
            <div class="inner">
                <div class="disc"></div>
                <div class="disc"></div>
                <div class="disc"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Preloader Area -->
    <div class="profile-authentication-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="profile-authentication-image">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <div class="content-image">
                                    <div class="logo">
                                        <a><img src="/assets/images/logo.png" alt="Zust"></a>
                                    </div>
                                    <div class="vector-image">
                                        <img src="/assets/images/vector.png" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="register-form">
                        <h2>Register</h2>

                        <form asp-action="register" asp-controller="account" method="post">
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input asp-for="Username" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="Username"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="email" class="form-control">
                                <span class="text-danger" asp-validation-for="Email"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control">
                                <span class="text-danger" asp-validation-for="Password"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <input asp-for="ConfirmPassword" class="form-control">
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                            </div>

                            <div class="remember-me-wrap">
                                <p>
                                    <input asp-for="AcceptPrivacy" type="checkbox" required>
                                    <label asp-for="AcceptPrivacy"></label>
                                    <span class="text-danger" asp-validation-for="AcceptPrivacy"></span>

                                </p>
                            </div>
                            <button type="submit" class="default-btn">Register</button>
                            <div class="or-text"><span>Or</span></div>
                            <a class="btn google-btn" asp-action="login" asp-controller="account">Back to Login</a>
                        </form>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
            </div>
        </div>


@*         <div class="home-btn-icon">
            <a asp-controller="home" asp-action="index"><i class="flaticon-home"></i></a>
        </div> *@
    </div>
    <script src="/assets/js/jquery.min.js" asp-append-version="true"></script>
    <script src="/assets/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js" asp-append-version=true></script>
    <script src="/assets/js/jquery-ui.min.js" asp-append-version=true></script>
    <script src="/assets/js/simplebar.min.js" asp-append-version=true></script>
    <script src="/assets/js/metismenu.min.js" asp-append-version=true></script>
    <script src="/assets/js/owl.carousel.min.js" asp-append-version=true></script>
    <script src="/assets/js/wow.min.js" asp-append-version=true></script>
    <script src="/assets/js/main.js" asp-append-version=true></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
</body>
</html>
