@using Zust.Entities
@model List<Friend>
<div class="content-page-box-area">
    <div class="page-banner-box bg-8">
        <h3>Live Chat</h3>
    </div>

    <div class="live-chat-slides owl-carousel owl-theme">

        @foreach (var item in Model)
        {
            <div class="chat-box">
                <div class="image">
                    <a onclick="SelectChat('@item.YourFriend.Id')" href="#"><img src="assets/images/user/user-11.jpg" class="rounded-circle" alt="image"></a>
                    <span class="status-online"></span>
                </div>
                <h3>
                    <a href="#">@item.YourFriend.UserName</a>
                </h3>
            </div>

        }
    </div>

    <div class="live-chat-body" id="live-chat-body">
        
    </div>
</div>


@section scripts {
    <script src="~/js/chat.js"></script>
}
